{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Liste des annonces</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('advert_new') }}" title="Add advert" class="btn btn-success">
                    <i class="fa fa-plus"></i>&nbsp;Ajouter une annonce
                </a>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group custom-search-form">
                            <input id="input-search" class="form-control" placeholder="Rechercher par titre..." type="text">
                            <span class="input-group-btn">
                                <button id="search" class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Liste des annonces enregistrées dans la base de données
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body div-adverts">
                        <table width="100%" class="table table-advert table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Date de création</th>
                                <th>Titre</th>
                                <th>Lieu</th>
                                <th>
                                    Prix {% if order == 'ASC' %}<i class="fa fa-chevron-up order-desc"></i>{%endif %}{% if order == 'DESC' %}<i class="fa fa-chevron-down order-asc"></i>{% endif %}
                                </th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="tbody-adverts">
                            {% for advert in adverts %}
                                {% if advert %}
                                    <tr class="{{ cycle(['odd', 'even'], loop.index0) }} gradeX">
                                        <td>
                                            {{ advert.id }}
                                        </td>
                                        <td>
                                            {{ advert.createdAt|date('d/m/Y H:i') }}
                                        </td>
                                        <td>
                                            <a target="_blank" title="Aller vers l'annonce" href="{{ advert.link }}">{{ advert.title }}</a>
                                        </td>
                                        <td>
                                            {{ advert.place }}
                                        </td>
                                        <td>
                                            {% if advert.price %}
                                                {{ advert.price|number_format(2, ',')}} €
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('advert_delete', {'id': advert.id}) }}" title="Remove advert" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                            <a href="{{ path('advert_edit', {'id': advert.id}) }}" title="Edit advert" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="{{ path('advert_new') }}" title="Add advert" class="btn btn-success">
                    <i class="fa fa-plus"></i>&nbsp;Ajouter une annonce
                </a>
            </div>
        </div>
    </div>
{% endblock %}